
{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}

	<div class="container">
	    <div class="row">
	        <div class="col-sm-12">
	            <div class="show-article-container p-3 mt-4">
					<table id="offices" class="table table-striped">
						<thead>
						<tr>
							<th>Office Name</th>
							<th>Office Description</th>
							<th>Actions</th>
						</tr>
						</thead>
						<tbody>
							{% if offices %}
								{% for office in offices %}
									<tr>
										<td>{{ office.officeName }}</td>
										<td>{{ office.officeDescription }}</td>
										<td>
											<a href="/web/offices/{{ office.id }}" class="btn btn-dark">Show</a>
											<a href="/web/offices/edit/{{ office.id }}" class="btn btn-light">Edit</a>
											<a href="#" class="btn btn-danger delete-office" data-id="{{ office.id }}">Delete</a>
										</td>
									</tr>
								{% endfor %}
							{% else %}
								<tr>
									<td colspan="3">No offices to display</td>
								</tr>
							{% endif %}
						</tbody>
					</table>
	            </div>
	        </div>
	    </div>
	</div>

{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="/js/main-js.js"></script>
{% endblock %}